body {
	background: #F8F8FF;
}
.well {
    color: #434A54;
    background: #FFF;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}
.btn-close {
	position: absolute;
	bottom: -20px;
	right: -20px;
}
.traveler{
	position: relative;
}
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type='number'] {
    -moz-appearance: textfield;
}
/* input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

input::-webkit-calendar-picker-indicator{
    display: none;
} */