<div class="container">
  <h1 class="text-center">My App</h1>
  <div class="well row">
    <h3 class="text-center" >Booking</h3>

    <form name="myForm" novalidate class='col-md-8 col-md-offset-2' ng-submit="main.sendForm()">

      <div class="row well"  ng-repeat='traveler in main.travelers track by $index'>
        <div class="traveler">
          <h3>Traveler {{$index + 1}}</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" ng-class="{'has-error': myForm.traveler_{{$index + 1}}_firstName.$invalid &&  main.formInvalid}">
                <input  type="text" 
                        name="traveler_{{$index + 1}}_firstName" 
                        placeholder="First Name*"
                        class="form-control input-lg"
                        ng-required="true"
                        ng-model='traveler.firstName'>
              </div>            
            </div>
           
            <div class="col-md-6">
              <div class="form-group" ng-class="{'has-error': myForm.traveler_{{$index + 1}}_lastName.$invalid &&  main.formInvalid}">
                <input  type="text"
                        ng-model='traveler.lastName'
                        class="form-control input-lg"
                        name="traveler_{{$index + 1}}_lastName"
                        placeholder="Last Name*"
                        ng-required="true">
              </div>            
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group" ng-class="{'has-error': myForm.traveler_{{$index + 1}}_Amount.$invalid &&  main.formInvalid}">
                  <input  type="number" 
                          class="form-control input-lg"
                          name="traveler_{{$index + 1}}_Amount"
                          placeholder="amount*"
                          ng-required="true"
                          ng-pattern = 'main.testNumber'
                          ng-model='traveler.amount'
                          ng-change='main.amountChange()'>
                  <div class="input-group-addon">$</div>                  
                </div>
              </div>
            </div>
            <div class="btn-close">
              <button type="button"
                      class="btn btn-default btn-sm"
                      ng-click='main.removeTraveler($index)'
                      ng-if='main.travelers.length > 1'>
                      Close
              </button>
            </div>
          </div>  
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4 col-md-offset-4">
          <button type="button"
                  class="btn btn-default btn-lg btn-block"
                  ng-click='main.addTraveler()'>
                  Add traveler
          </button>
        </div>
      </div>

      <div class="row ">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-addon">Fee</div>
            <input  type="number"
                    class="form-control input-lg"
                    name="fee"
                    placeholder="amount"
                    ng-pattern = 'main.testNumber'                    
                    ng-model='main.fee'
                    ng-change='main.amountChange()'>
            <div class="input-group-addon">$</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-addon">Total</div>
            <input  type="text"
                    class="form-control text-center input-lg"
                    value='{{main.totalSumm | currency}}'
                    name="total"
                    readonly>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-addon">To pay</div>
            <input  type="text"
                    class="form-control text-center input-lg"
                    value='{{main.paySumm | currency}}'
                    name="toPay"
                    readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <div class="input-group">
              <input  type="date"
                      class="form-control"
                      ng-required="true"
                      datepicker-popup
                      valid-date
                      ng-model="main.dt"
                      is-open="main.opened"
                      min-date="main.minDate"
                      close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="main.openCalendar($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
        </div>

        <div class="form-group col-md-6" >
          <input  type="email"
                  class="form-control input-lg"
                  name="email"
                  placeholder="Email"
                  ng-model="main.email"
                  ng-pattern='main.testEmail'>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4 col-md-offset-8">
          <button type="submit" class="btn btn-default btn-lg btn-block">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>