/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
	background: #F8F8FF;
}
.well {
    color: #434A54;
    background: #FFF;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}
.btn-close {
	position: absolute;
	bottom: -20px;
	right: -20px;
}
.traveler{
	position: relative;
}
.ng-invalid.ng-touched {
	border: solid red 1px;
}

.modal-footer{
	text-align: center;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input::-webkit-calendar-picker-indicator{
    display: none;
}
.error-mess{
	color: red;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
