<div class="container">
  <h1 class="text-center">Congratulations!</h1>
  <div class="well row col-md-6 col-md-offset-3">
    <span class="col-md-12 h4 text-center" ng-repeat='traveler in second.travelers'>
      {{traveler.firstName + ' ' + traveler.LastName}}: Traveler {{$index + 1}}
    </span>
    <span class="col-md-12">
      Total: {{second.total | currency}}, Fee: {{second.fee | currency}}
    </span>
  </div>
  <div class="row">
        <div class="form-group col-md-2 col-md-offset-5">
          <button ng-click='second.goBack()' class="btn btn-default btn-lg btn-block" >Go Back</button>
        </div>
   </div>
</div>